/* ==========================================================================
    Color scheme
    http://paletton.com/
    https://color.adobe.com/
   ========================================================================== */

// Brand / Action Colors
$primary-color: #d8a724;
$secondary-color: #e2127a;
$tertiary-color: #f1f075;
$accent-color: #5b94ff;

// Ground colours
$bg-white: #f6f7fb;
$bg-dark:#111111;
$low-contrust-light: #CFD8DC;
$low-contrust-dark: #9e9e9e;
$high-contrust-light: #212121;
$high-contrust-dark: #CFD8DC;
$reduced-contrust-light: #898989;
$reduced-contrust-dark: #BDBDBD;
$facebook: #3b5999;
$linkedin: #0077B5;
$twitter: #55acee;
$footerlast: #292f38;
$contact-link: #a5a5a5;


// Grays
$dark: #3b4042;
$gray: #656d78;
$light: #dedede;
$white: #fff;
$black: #000;

// Text Black (not need)
$text: rgba(0,0,0,0.87);
$secondary-text: rgba(0,0,0,0.54);
$icons: rgba(0,0,0,0.54);
$disabled: rgba(0,0,0,0.26);
$hint-text: rgba(0,0,0,0.26);
$dividers: rgba(0,0,0,0.12);
$error-text: #DC322F;
$success-text: #2ECC40;
$notify-text: #586E75;
