.large_bg {
    background: url(../images/body-bg-1.jpg) ;
    background-size: auto !important;
    background-repeat: repeat !important;
}
.product_table thead tr th {
    font-size: 0.7rem;
    color: $primary-color;
}
tr:nth-child(2n+1) {
    background: #f1f07512;
}
.row  {
    
   p{
       padding: 10px 0;
   }
   .product_table_ul {
    padding-left: 30px;
    li {
       list-style: circle;
    }
   }
}