@import '../bower_components/susy/sass/susy';



$susy: (
  flow: ltr, // ltr | rtl
  output: float, // float | isolate
  math: fluid, // fluid | static (requires column-width)
  column-width: false, // false | value
  container: 1366px, // length or % | auto
  container-position: center, // left | center | right | <length> [*2] (grid padding)
  last-flow: to, //from | to
  columns: 12,
  gutters: 1/4,
  gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
  global-box-sizing: content-box, // content-box | border-box (affects inside/inside-static)
  debug: (
    image: show, //hide | show
    color: rgba(#66f, .25),
    output: background, // background | overlay
    toggle: top left, //top left  | top right
  ),
  use-custom: (
    background-image: true, // look for background-image mixin
    background-options: false, // look for background-size, -origin and -clip and other compass/bourbon mixins
    box-sizing: true, // look for custom bix sizing mixin
    clearfix: false, // true = look for internal clearfix before using micro clearfix
    rem: true, // look for rem mixin
  )
);

$gallery_layout: layout( 12 .125 fluid float after);

$nav_layout: layout( 12 0 fluid float inside);

$golden_layout: layout( (1 1.618 2.618) .1 fluid float split);

//it makes your life easy!
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

img {
  width: 100%;
  height: auto;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  margin: 10px 0;
  text-align: center;
  li {
    background: #eee;
  }
  a {
    display: block;
    &:hover {
      background: #ddd;
    }
  }
}

.debug {
  border: 1px dashed red;
  //background-color: #EFE; //OR
}

.page {
  @include container;
}

header {
  @include full;
  // .. Mobile styles for the layout here 
  .logo {
    @include span(2);
    // img {
    //   @include span(100%);
    // }
  }
  .company-name {
    @include span(12);    
  }
  .company-slogan {
    @include span(12);
  }  
  nav {
    @include full;
  }
  .nav-item {
    @include span(4 of $nav_layout);
  }

  // .. Tablet Layout Pattern 20em=320px (old iPhone) 48em=768px(iPad)  
  @include susy-media(21em 48em) {
    .logo {
      @include span(2);
    }
    .company-name {
      @include span(last 10);
    }    
  }

  // .. Desktop Layout Pattern
  @include susy-media(min-width 48em) {
    .logo {
      @include span(3);
    }
    .company-name {
      @include span(last 9);
    }    
  }




}

.hero {
  @include full;
   .why-we-love {
     @include span(5);
   }
  .about-pandas {
    @include span(last 7);
  }
  .in-the-wild {
    @include span(3 of 7);
  }
  .in-the-zoo {
    @include span(last 4 of 7);
  }
  .in-the-media {
    @include span(7 of 7) {
      img {
        @include span(2 );
      }
      .copy {
        @include span(last 5);
      }
    }

  }
}

.panda-gallery {
  @include full;
  div {
    @include with-layout($gallery_layout) {
      @include gallery(4);
      margin-bottom: gutter();
    }
  }
}

footer {
  @include with-layout($golden-layout) {
    .panda-links {
      @include span(1 at 1);
    }
    .panda-social {
      @include span(1 at 2);
    }
      .social-link {
        @include span(3 of 6 .25 inside);
      }
    .panda-partners {
      @include span(1 at 3);
      img {
        @include span(50%);
      }
    }
  }
}
