---
layout: default
---


{{ content }}
    <aside class="sidebar text-center">
      <div class="seperator">
        <h2>News</h2>
        <p>Preferred supplier to large corporates & government. Every day Bangladesh's Hospitala, financial institutions, government departments, organisations/ charities & commercial depend on our 365x24hr support.</p>
        <p><small>-System Netware News Desk!</small></p>
      </div>
      <div class="seperator">
        <h2>Social</h2>
        <p>social icons</p>
      </div>
      <div class="seperator">
        <h2>Trial offer</h2>
        <p><a href="#">Contact</a> us for your trial offer.</p>
      </div>
    </aside>
  </div> <!-- /wrap content -->

